* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

span {
    color: var(--main-color)
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .main .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .main .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    .main .header #menu-icon {
        display: block;
    }

    .main .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .main .header .navbar.active {
        display: block;
    }

    .main .header .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .main .home {
        flex-direction: column;
    }

    .main .home .home-content h3 {
        font-size: 2.6rem;
    }

    .main .home .home-content h1 {
        font-size: 5rem;
    }

    .main .home .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .main .about {
        flex-direction: column-reverse;
    }

    .main .about img {
        width: 70vw;
        margin-top: 4rem;
    }

    .main .skills .skills-content {
        flex-direction: column-reverse;
    }

    .main .skills .skills-content .skills-img img {
        width: 70vw;
    }

    .main .projects .projects-container {
        grid-template-columns: repeat(1, .8fr);
        justify-content: center;
    }

    .main .projects .projects-container .project-box {
        margin-top: 4rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 500px) {
    .main .skills .skills-content .my-skills {
        width: 375px;
        height: 400px;
    }
}

@media (max-width: 365px) {
    .main .home h1 {
        font-size: 2.6rem;
    }
    .main .home .home-img img {
        width: 90vw;
    }

    .main .about .about-img img {
        width: 90vw;
    }
    
    .main .skills .skills-content .my-skills {
        width: 267px;
        height: 360px;
    }
}